# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Flask instance folder
instance/

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.flaskenv

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# OS specific
.DS_Store
Thumbs.db

# Flask static folder in development
# static/

# Pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
local_settings.py

# Migrations (if you want to version them, remove this)
# migrations/

.env
pricing/downloads/
pricing/images/
pricing/art_crop
all-cards.json
pricing/all-cards.json
gcs-service-key.json
/AllDeckFiles
daily/downloads
daily/