<div class="col">
  <div class="card shadow-lg  hover-zoom hover-shadow">

      {{ card|cached_card_image }}

    <div class="card-body">
      <h5 class="card-title">
          {{ card.name }}
          <em>({{ card.set_name }})</em> <br>
          <a href="/artists/{{ card.artist }}">{{ card.artist }}</a>
      </h5>

      <p class="card-text">{{ card.oracle_text | safe }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a href="/card/{{ card.id }}/{{ card.name | generate_slug }}" type="button" class="btn btn-sm btn-primary">
            <i class="bi bi-infinity"></i> More Info
          </a>
          <a href="https://tcgplayer.com/product/{{ card.tcgplayer_id}}" target="_blank" type="button" class="btn btn-sm btn-info">
              <i class="bi bi-cart4"></i> Buy Now
          </a>
        </div>

         <div>
            <small class="text-muted">Delta Price: ${{ card.normal_price | round(2) if card.normal_price is not none and card.normal_price is float else '--' }}
            </small>
         </div>
      </div>
    </div>
  </div>
</div>