<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">PWSDELTA – Your Portal to Magic: The Gathering!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Dive into the world of Magic: The Gathering! Whether you're a seasoned planeswalker or just starting your journey, we've got everything you need – from strategy guides and deck-building tips to the latest card releases and community discussions.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/gallery">Art Gallery</a>
{#                        <a class="btn btn-success btn-lg px-4 me-sm-3" href="/search">Find Cards</a>#}
                        <a class="btn btn-outline-light btn-lg px-4" href="/card/{{ hero_card.id }}/{{ hero_card.name | default('card') | generate_slug }}">What's that card?</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <a href="/card/{{ hero_card.id }}">
                    <img
                        src="{{ hero_card.image_uris.art_crop }}" alt="{{ hero_card.name }} - {{ hero_card.set_name }}"
                        data-bs-toggle="popover"
                        data-bs-placement="left"
                        data-bs-trigger="hover"
                        data-bs-html="true"
                        data-bs-title="If you guessed..."
                        data-bs-content="<strong>{{ hero_card.name }}</strong> from {{ hero_card.set_name }}, you win! <br> <br><strong>{{ hero_card.oracle_text }}</strong>">
                </a>
            </div>
        </div>
    </div>
</header>


