

<section class="py-5 bg-light" id="features">
<div class="container px-5 my-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Every card. Right here.</h2></div>
        <div class="col-lg-8">
            <div class="row gx-5 row-cols-1 row-cols-md-2">
                <div class="col mb-5 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h5">Huge Database</h2>
                    <p class="mb-0"><strong>80k+ cards (and growing)</strong> Find nearly every Magic card from every set, all in one place.</p>
                </div>
                <div class="col mb-5 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-search-heart"></i></i></div>
                    <h2 class="h5">Smart Search</h2>
                    <p class="mb-0"><strong>Find cards fast.</strong> Search by name, type, set, or color—get instant results.</p>
                </div>
                <div class="col mb-5 mb-md-0 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-palette"></i></i></div>
                    <h2 class="h5">Art Explorer</h2>
                    <p class="mb-0"><strong><a href="/gallery">Browse the art</a></strong>. See stunning artwork from across Magic’s history in a never-ending gallery.</p>
                </div>
                <div class="col h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-rocket-takeoff"></i></div>
                    <h2 class="h5">More Coming</h2>
                    <p class="mb-0"><strong>Just the beginning.</strong> New tools, deck features, and price trends—stay tuned. Or should we focus on adding more languages?</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
