{% extends "base.html" %}

{% block content %}


<div class="container">
    <!-- Artist Header -->
<h1 class="text-center">Other MTG cards illustrated by <a href="/artists/{{ artist_name }}">{{ artist_name }}</a></h1>
<p class="text-center">Love this artist's work? Discover every card illustrated by {{ artist_name }} in our collection. Browse their full Magic portfolio with super-sized art that shows off all the details.</p>

    <!-- List of Cards -->
    <div class="cards-list">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for card in cards %}
              {% include "_card_component.html" %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}