{% extends "base.html" %}
{% block title %}{{ card.name }} price | {{ card.set_name }} Magic: The Gathering Card{% endblock %}

{% block content %}

<div class="container">



<p><a href="/random">Random</a></p>
<p><a href="https://www.tcgplayer.com/product/{{ card.tcgplayer_id }}" target="_blank">TCGPlayer store</a></p>

<article class="card-details">
<div class="row">
    <div class="col">
        <img src="{{ card.image_uris.normal }}" alt="{{ card.name }} - {{ card.set_name }} Magic: The Gathering Card - {{ card.type_line }} by {{ card.artist }}">
    </div>
    <div class="col">
        {% if card.rarity %}
            {% set rarity = card.rarity or 'common' %}
            {% if rarity == "common" %}
                <span class="badge bg-info">{{ card.rarity }}</span>
            {% elif rarity == "uncommon" %}
                <span class="badge bg-secondary">{{ card.rarity }}</span>
            {% elif rarity == "rare" %}
                <span class="badge bg-warning">{{ card.rarity }}</span>
            {% elif rarity == "mythic" %}
                <span class="badge bg-danger">{{ card.rarity }}</span>
            {% elif rarity == "land" %}
                <span class="badge bg-success">{{ card.rarity }}</span>
            {% else %}
                <p>&nbsp;</p>
            {% endif %}
        {% endif %}

        <h1>
            {{ card.name }}
        </h1>



        <p><strong>Artist:</strong> <a href="/artists/{{ card.artist }}">{{ card.artist }}</a> </p>
        <p><strong>Set:</strong> <a href="/sets/{{ card.set }}">{{ card.set_name }}</a> </p>
        <p><strong>Mana Cost:</strong> {{ card.mana_cost }}</p>

        <p>
            <span
               data-bs-toggle="tooltip"
               data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Our proprietary formula to calculate a globally relevant price estimate.">

                <strong>Delta Price *: </strong>

                ${{ card.normal_price | round(2) if card.normal_price is not none and card.normal_price is float else '--' }}
            </span>

        <p><strong>Type:</strong> {{ card.type_line }}</p>
        {% if card.printed_text %}
            <p>{{ card.printed_text | safe }}</p>
        {% elif card.text %}
            <p>{{ card.text | safe }}</p>
        {% elif card.oracle_text %}
            <p>{{ card.oracle_text | safe }}</p>
        {% endif %}
        {% if card.flavor_text %}
            <p><em>{{ card.flavor_text | safe }}</em></p>
        {% endif %}



        <div class="accordion my-5" id="richCardAccordion">

            {% if related_cards %}
            <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Related Cards
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#richCardAccordion">
              <div class="accordion-body">
                  <p>{{ card.all_parts }}</p>
              </div>
            </div>
            </div>
            {% endif %}


          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Card Legalities
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#richCardAccordion">
              <div class="accordion-body">
                  {%  include "_legalities_info.html" %}
              </div>
            </div>
          </div>
        </div>

    </div>
</div>


</article>




{% if other_printings %}
<div class="container my-5">
    <h2 class="text-center">More {{ card.name }} eye candy!</h2>
    <p class="text-center">Flip through the versions that exist in the MTG universe. Different arts, different frames, same epic card – which one's your favorite?</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for card in other_printings %}
            {% include "_card_component.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}


{% if cards_by_artist %}
<div class="container my-5">


<h2 class="text-center">Others by <a href="/artists/{{ card.artist }}">{{ card.artist }}</a></h2>
<p class="text-center">Love this artist's work? Discover every card illustrated by {{ card.artist }} in our collection. Browse their full Magic portfolio with super-sized art that shows off all the details.</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% cache 300, 'artist_cards', card.artist %}
        {% for card in cards_by_artist %}
          {% include "_card_component.html" %}
        {% endfor %}
    {% endcache %}
    </div>
</div>
{% endif %}







<h3></h3>

<div class="accordion my-5" id="dataDumpAccordion">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gimmeData" aria-expanded="true" aria-controls="gimmeData">
        (Warning) Data Overload
      </button>
    </h2>
    <div id="gimmeData" class="accordion-collapse collapse" data-bs-parent="#dataDumpAccordion">
      <div class="accordion-body">
          {% include "_card_detail_dump_table.html" %}
      </div>
    </div>
  </div>

</div>







</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ card.name }}",
  "image": "{{ card.image_uris.large }}",
  "description": "{{ card.oracle_text | striptags }}",
  "brand": {
    "@type": "Brand",
    "name": "Magic: The Gathering"
  },
  "offers": {
    "@type": "Offer",
    "url": "{{ request.url }}",
    "priceCurrency": "USD",
    "price": "{{ card.normal_price if card.normal_price is not none and card.normal_price is float else '0.00' }}",
    "availability": "https://schema.org/InStock"
  }
}
</script>

{% endblock %}